body{
    position: relative;
    background-color:  #c5c1c16a;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#up1{
    position: absolute;
    background-color: rgb(6, 37, 6);  
    display: flex;
    justify-content: center; 
    gap: 20px;
    height: 20px;
    left: 15px;
    right: 15px;
}
.up1{
    color: white;
}
.up1:hover{
    background-color: rgb(9, 58, 9);
    padding: 3px;
}
#up2{
    
    background-color: rgb(9, 58, 9);
    height: 60px;
    
    
}
.up2{
    position: relative;
    color: white;
    text-align: center;
    top: 25px;
    font-size: 25px;
}
#center1{
    background-color: white;
    height: 80px; 
    margin: 10px;
    border-radius: 5px;
}
.center1{
    margin: 10px;
}
#center2{
    background-color: white;
    height: 550px; 
    
    margin: 10px 10px 0 10px;
    border-radius: 5px;  
}
.center2{
    margin: 10px;
}
#down{
    background-color: rgb(9, 58, 9);
    height: 30px; 
    position: fixed;
    bottom: 0;
    width: 100%; 
    text-align: center;
    color: white;
}
.center-center{
    
    background-color: #c5c1c16a;
    margin:5px 250px;
    width: 40%;
    padding: 5px;
    border-radius: 5px;

}
.center-center:hover{  
    background-color: #c5c1c1d7;
    /* cursor: pointer; */
}
.red{
    
    background-color: rgba(255, 0, 0, 0.4);
    padding: 0 2px;
    width: 35px;
    border-radius: 5px;
}
.blu{
    
    background-color: rgba(68, 149, 196, 0.366);
    padding: 0 2px;
    width: 35px;
    border-radius: 5px;
}
.yellow{
    
    background-color: rgba(255, 255, 0, 0.417);
    padding: 0 2px;
    width: 35px;
    border-radius: 5px;
}